html, body{
    margin: 0; padding: 0;
    width: 100%; height: 100%;

    font-family: Inconsolata, Consolas, monospace;
    background-color: #200c2d;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

#gamebox{
    width: 100%;
    height: 100%;
    color: white;
	margin-top: 16px;
}


button{
	cursor: pointer;
	background: #242424;
	border: 1px solid white;
	border-radius: 2px;
	color: white;
	margin: 0 6px;
	font: inherit;
}

button.row-button{
	position: relative;
	top: 2px;
}

hr{
	border: none;
	border-top: 1px solid #c0c0c0;
}

div.generator{
	display: inline-block;
    background-color: #454545;
	margin: 2px;
    border: 1px solid #e9e9e9;
    padding: 8px 20px;
    width: 240px;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}

div.generator p{
    font-size: 75%;
    margin: 0;
	z-index: 1;
}

div.generator > .details{
	height: 0px;
	overflow: hidden;
	transition: all 0.2s ease-out;
}

div.generator > .progress-bar{
	position: absolute;
	background-color: black;
	opacity: 0.2;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	transition: right 0.2s ease-out;
}

div.generator:hover > .details{
	height: 120px;
}

div.generator:hover > .progress-bar{
	right: -100%;
}

div.generator-pane{
	text-align: center;
	padding: 20px;
}

div.goomy-pane{
    text-align: center;
    width: 320px;
    margin: auto;
    position: relative;
}

div.stats-pane{
    text-align: center;
}


h1{
	margin: 0;
}


img.great-goomy{
    position: relative;
    height: 420px;
    top: 0;
    margin-bottom: 0;
    transition: 0.03s linear;
    cursor: pointer;
}

img.great-goomy.pressed{
	height: 400px;
    top: 10px;
    margin-bottom: 20px;
}



p.goomy-count{
    margin: 0;
    font-size: 200%;
    font-family: Inconsolata, Consolas, monospace;
}

span.small-cs{
	font-size: 75%;
}

span.disabled{
	color: #c0c0c0;
}

span.unbuyable{
	color: #ffc0c0;
}

table.stats-table{
	width: 320px;
	margin: auto;
	border-spacing: 8px 0px;
}

td.stat-table-category{
	width: 140px;
	text-align: right;
}

td.stat-table-value{
	text-align: left;
	font-weight: bold;
}

.plus-marker-container{
    position: absolute;
    width: 100%; height: 100%;
    top: 0px; left: 0px;
    pointer-events: none;
}

.plus-marker{
    position: absolute;
}

.generator-stats{
	transition: all 0.2s linear;
}












.plusMarker-leave{
    opacity: 1;
}

.plusMarker-leave.plusMarker-leave-active{
    opacity: 0;
    transition: all 1.0s ease-out;
}


.plusMarker-leave > .movable{
    position: absolute;
    top: 0px;
    left: -75px;
    text-shadow: 0 0 4px black;
    width: 150px;
    text-align: center;
    font-size: 150%;
}

.plusMarker-leave.plusMarker-leave-active > .movable{
    top: -100px;
    transition: all 1.0s ease-out;
}



.generatorStats-enter {
	height: 0px;
	overflow: hidden;
	transition: all 1.0s linear;
}

.generatorStats-enter.generatorStats-enter-active {
	height: 60px;
	overflow: hidden;
}
